.res-container {
    display: flex;
    justify-content: center;
}
.res {
    width: var(--width-web);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    border-top: 1px solid #ddd;
}
.from {
    width: 500px;
    height: 40px;

    input {
        font-size: 1.5rem;
        padding-left: 20px;
        width: 400px;
        height: 100%;
        background-color: #ddd;
    }
    button {
        font-size: 1.5rem;
        font-weight: 700;
        width: 100px;
        height: 100%;
        background-color: var(--primary);
        color: #fff;
    }
}
